---
import Nav from "./Nav.astro";
import Social from "./Social.astro";
---

<header class="header">
  <Nav />
  <div class="flex-1">
    <a href="/" class="avatar">
      <img class="header__logo-img" src="/logo-header.png" alt="Logo" />
    </a>
  </div>
  <Social />
  <img class="hero" width="100%" src="/hero.png" />
</header>

<style>
  .header {
    margin: 0 auto;
    max-width: 1200px;
    @apply flex gap-4 items-center;
    padding: 0 40px;
    height: 156px;
  }
  .header__logo-img {
    @apply rounded-full overflow-hidden;
    width: 206px;
    height: 78px;
  }
  .hero {
    @apply w-screen absolute top-0 left-0;
    z-index: -1;
    min-height: 863px;
    object-fit: cover;
    object-position: center;
  }
</style>
